<!DOCTYPE html>
<html>
    <head>
        <meta content="charset=UTF-8">
        <title>Site com Flask</title>
        <link rel="stylesheet" href="../static/css/base.css">
    </head>
    <body>
        <header>
        
        </header>
        <main>
            <section>
                <h1>Curso Técnico de Ciência de Dados</h1>
                <h2>Escola Estadual Dr Ângelo Mendes de Almeida</h2>
                <h3>Prof. Parisotto</h3>
            </section>
        </main>
        <footer>

        </footer>
    </body>
    </html>