<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site com flask</title>
</head>
<body>
    <h1>Site python com flask</h1>
    <h2>Este é um subtítulo</h2>
    <h3>Este é um sub subtítulo</h3>
    <h4>Este é um sub subtítulo</H4>
    <h5>Este é um sub subtítulo</h5>
    <h6>Este é um sub subtítulo</h6>

    <a href="https://vitor.com">Vitor.net</a>
    <a href="#">https://vitormoreira.com.br</a>
</body>
</html>